@model PINrad.Models.Asset

@{
    ViewData["Title"] = "ObrišiI";
}

<h1>Obriši</h1>

<h3>Jesi siguran?</h3>
<div>
    <h4>Imovinu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InventarniBroj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InventarniBroj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KupovnaVrijednost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KupovnaVrijednost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumKupnje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumKupnje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedUser)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AssetId" />
        <input type="submit" value="Obriši" class="btn btn-danger" /> |
        <a asp-action="Index">Povratak</a>
    </form>
</div>
